<VirtualHost *>
    ServerName [servername.com]

    WSGIDaemonProcess api user=www-data group=www-data processes=4 python-home=/var/www/api/venv

    WSGIScriptAlias / /var/www/api/api.wsgi

    <Directory /var/www/api>
        WSGIProcessGroup api
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>
</VirtualHost>