<VirtualHost *>
    ServerName [servername.com]

    WSGIDaemonProcess api user=[user] group=[group] processes=2 threads=3
    WSGIScriptAlias / /var/www/api/api.wsgi

    <Directory /var/www/api>
        WSGIProcessGroup api
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>
</VirtualHost>