# PostGIS database
host="localhost"
database=""
user=""
password = ""

# Osprey database
osprey_host="localhost"
osprey_database=""
osprey_user=""
osprey_password = ""

# EDAN creds
AppID = ""
AppKey = ""

allow_ip = ""

# Number of workers for parallel
no_workers = 4

